@import "assets/fonts.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
  overflow-x: hidden;
}

:root {
  --tuerkis: #80ccdb;
  --blau: #005577;
  --rot: #e4003a;
  --orange: #f7a823;
  --dunkelblau: #1a2e3c;
  --schwarz: #180f00;
}

header {
  position: absolute;
  top: 50px;
  height: 80px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Alternative in css-grid: */
  /* display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: center; */

  padding: 0 50px;
  z-index: 1;
}

main {
  display: grid;
  grid-template-columns: minmax(250px, 100vw);
  grid-template-rows: 50px 900px 615px 790px auto 940px 484px 133px;
  grid-template-areas:
    "top-bar"
    "hero-section"
    "schulzweige"
    "claim"
    "news"
    "termine"
    "foto-slider"
    "sponsoren";

  /* justify-items: center; */
}

.top-bar {
  grid-area: top-bar;
  background-color: var(--dunkelblau);
  padding-right: 30px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top-bar a {
  color: white;
  text-decoration: none;
  margin: 0 0.3rem;
  font-size: 20px;
  transition-duration: 0.5s;
}
.top-bar a:hover {
  color: var(--rot);
}
.top-bar span {
  font-family: "hak-bqcondensed";
  font-size: 26px;
  margin: 0 0.2rem;
}
.hero-section {
  grid-area: hero-section;
  background-image: url("assets/hero-background.jpg");
  background-position: right top;
  overflow: hidden;
  position: relative; /*anchor for child-elements*/
}
.hero-section .slide-corner {
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}
.hero-section .hak {
  font-size: 560px;
  color: #fff;
  font-family: "coco_gothicbold";
  position: absolute;
  letter-spacing: -50px;
  top: -200px;
  right: -50px;
  animation-name: grow;
  animation-duration: 1.7s;
  animation-
}

@keyframes grow {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.hero-section .hak .bigsmall {
  font-size: 150%;
  letter-spacing: -80px;
  font-family: "coco_gothicregular";
}

.hero-section .claim {
  position: absolute;
  top: 400px;
  right: 10px;
}
.hero-section .tablet {
  position: absolute;
  left: -2000px;
  top: 170px;
  animation-name: slide-left;
  animation-delay: 0.9s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  0% {
    left: -2000px;
  }
  100% {
    left: 0px;
  }
}

.slide-right
{
  position: relative;
  right:-2000px;
  height: 100%;
  animation-name: slide-right;
  animation-delay: 1.2s;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
}

@keyframes slide-right {
  0%{
    right:-2000px;
  }
  100%{
    right: 0px;
  }

  
}
.hero-section .join {
  font-family: "coco_gothicbold";
  color: var(--dunkelblau);
  font-size: 120px;
  line-height: 133px;
  letter-spacing: -0.06em;
  position: absolute;
  top: 500px;
  left: 700px;
  width: 100%;
}

#more {
  background-color: var(--dunkelblau);
  color: #fff;
  position: absolute;
  left: 700px;
  top: 800px;
  border: none;
}

#more:hover {
  background-color: var(--rot);
  cursor: pointer;
}
.schulzweige {
  grid-area: schulzweige;
  background-color: var(--dunkelblau);

  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 350px));
  grid-gap: 5vw;
  justify-content: center;
  align-content: center;
}

.schulzweig {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schulzweig img {
  transition: 0.5s;
}

.schulzweig img:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.schulzweig * {
  margin: 10px 0;
  color: #fff;
  text-align: center;
}

.schulzweig-teaser {
  font-family: "hak-bqcondensed";
  font-size: 18px;
  line-height: 24px;
}

button {
  border: none;
  background-color: transparent;
  padding: 9px 34px;
  border-radius: 2px;
  transition: 0.5s;
  font-family: "hak-bqBdCn";
  font-size: 14px;
}

#bp-button:hover {
  background-color: var(--rot);
  cursor: pointer;
}
#it-button:hover {
  background-color: var(--tuerkis);
  cursor: pointer;
}
#has-button:hover {
  background-color: var(--orange);
  cursor: pointer;
}

.handschrift {
  font-family: "handschrift-bolder";
  font-size: 45px;
  line-height: 45px;
  padding: 15px;
  /* margin: 0; */
}

.claim {
  grid-area: claim;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2a2a2a;
}

.claim > * {
  max-width: 25%;
  /* min-height: 80%; */
  margin: 1%;
  overflow: hidden;
}

.claim img {
  max-width: 100%;
  max-height: 100%;
}

.claim .handschrift {
  color: var(--orange);
  font-size: 3.5em;
  line-height: 0.8em;
  overflow: visible;
  padding-left: 30px;
  font-weight: 500;
}

.claim p {
  font-family: "hak-bqcondensed";
  font-size: 18px;
  line-height: 24px;
}
.claimCaps {
  text-transform: uppercase;
  font-family: "hak-bqcondensed";
  font-size: 70px;
  line-height: 63px;
  overflow: hidden;
  font-weight: 300;
}
.claimCaps strong {
  font-weight: 900;
}
.news {
  grid-area: news;
  background-color: var(--tuerkis);
}

.termine {
  grid-area: termine;
  background-color: #f6f6f7;
}

.foto-slider {
  grid-area: foto-slider;
}

.sponsoren {
  grid-area: sponsoren;
}

footer {
  background-color: var(--dunkelblau);
  height: 57px;
}
